*.class
# Ignore the data map
data/

.DS_Store

# Ignore the files from intellij
Fakebook.iml
src/META-INF/
.idea/

# Ignore the private netbeans project files
nbproject/private/

# Ignore the build artifacts
build/


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
!/restfb-1.21.0.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/dist/
